:root {
  --color-bg: #f4f6f9;   /* Fondo general */
  --color-surface: #ffffff; /* Fondo de tarjetas y formularios */
  --color-border: #e2e8f0;  /* Bordes suaves */
  --color-text-primary: #111827;  /* Texto principal */
  --color-text-secondary: #64748b;  /* Texto secundario */
  --color-text-muted: #94a3b8;  /* Texto menos importante/ inputs */
  
  --color-primary: #3b82f6;  /* Botones primarios */
  --color-primary-hover: #2563eb;  /* Hover botones primarios */
  --color-edit: #22c55e;  /* Botones de edición */
  --color-edit-hover: #16a34a;  /* Hover botones de edición */
  --color-delete: #ef4444;  /* Botones de eliminación */
  --color-delete-hover: #dc2626;  /* Hover botones de eliminación */

  --color-bg-sidebar: #1f2937;   /* Fondo de la barra lateral */
  --color-bg-main: #f9fafb;   /* Fondo de la sección principal */

  --color-gray: #6b7280;  /* Gris para textos secundarios y bordes */   
  --color-text-light: #f3f4f6;  /* Texto claro para fondos oscuros */

  --color-row-hover: #f8fafc;  /* Hover para filas de tabla */
  --color-header-bg: #f1f5f9;  /* Fondo para encabezados de tabla */

  --radius-sm: 6px;  /* Bordes redondeados en inputs */
  --radius-md: 10px;  /* Bordes redondeados */
    --radius-lg: 14px;  /* Bordes redondeados tablas y formularios*/

  --shadow-card: 0 1px 3px rgba(0,0,0,0.07), 0 4px 12px rgba(0,0,0,0.05);  /* Sombra para tarjetas y formularios */
  --shadow-btn: 0 1px 3px rgba(0,0,0,0.15);  /* Sombra para botones */
}

.cardDashboard {
    display: flex;  
    flex: 1;
    align-items: center; 
    justify-content: space-between;  
    max-width: 1200px;  
    margin: 0 auto;
}

.card {
    border-radius: var(--radius-lg);
    box-shadow: var(--shadow-card);
    width: 20%;
    height: 150px;
    text-align: center;
    padding: 20px;
}

.card:hover {
    background-color: var(--color-row-hover);
    cursor: pointer;
}

.title {
    font-size: 0.9rem;
    font-weight: 800;
    text-transform: uppercase;
    color: var(--color-text-secondary);
    margin-bottom: 10px;
    letter-spacing: 0.8px;
}