body {     
  margin: 0;
  font-family: 'Inter',Arial, sans-serif;
  background: #f3f5f8;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 380px;
}

/* ESTILO DE LAS TARJETAS */
.card {
  background: white;
  padding: 25px ;
  border-radius: 16px;
  box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.05), 
                0 8px 10px -6px rgba(0, 0, 0, 0.05);
  text-align: center;
}

/*ESTILO DE LOS TÍTULOS*/

h2 {
  margin-bottom: 30px;
  font-weight: 600;
  letter-spacing: 0.8px;
}

/* ESTILO DE LOS CAMPOS DE TEXTO */

input {
  width: 100%;
  padding: 10px 12px; 
  margin: 10px 0;
  border: 1px solid #E2E8F0;
  border-radius: 8px;
  box-sizing: border-box;
  background-color: #F1F5F9;
  transition: all 0.3s;
}

/* EFECTO DE ENFOQUE EN LOS CAMPOS DE TEXTO */
input:focus {
  border-color: #94a3b8;
  background-color: #E0F0FF;
  outline: none;
}

/* BOTONES AZUL CLARO */
button {
  background: #0f172A;
  color: white;
  border-radius: 8px;
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  text-transform: none;
  font-weight: 700;
  letter-spacing: 0.8px;
}

/* EFECTO HOVER EN LOS BOTONES */
button:hover {
  background: #334155;
  transform: translateY(-1px);
}

/* BOTONES SECUNDARIOS */
button.secondary {
  background: transparent;
  color: #1e293b;
  border: 1px solid #1e293b;
  font-weight: 600;
  border-radius: 10px;
  padding: 12px;
  margin-top: 12px;
}

/* EFECTO HOVER EN LOS BOTONES SECUNDARIOS */
button.secondary:hover {
  background: #334155;
  transform: translateY(+1px);
  color: white;
}

.hidden {
  display: none;
}


input {
  font-size: 14px;
}
/* ESTILO DE LOS MENSAJES DE ERROR Y ÉXITO */
.error {
  color: red;
  font-size: 12px;
  text-align: left;
  display: block;
  margin-bottom: 5px;
}

input.errorInput {
  border: 2px solid red;
}

.success {
  color: green;
  text-align: center;
  margin-top: 10px;
}

/* CONTENEDOR DEL AVATAR */
.avatar {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

/* IMAGEN CIRCULAR */
.avatar img {
  width: 80px;
  height: 80px;
  border-radius: 50%; /* hace el círculo */
  border: 3px solid #6a6f77;
  object-fit: cover;
}

@media screen and (max-width: 800px) {
  .container {
    width: 50%;
  } 
}